/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-case {
    padding-top: 75px;
    background: url("./assets/img/case-bg.png");
    background-repeat: no-repeat;

    .c-case__title {
        font-size: 3.6rem;
        font-weight: 400;
        text-align: center;
        @include sp {
            font-size: 1.5rem;
        }
    }

    .c-case__body {
        display: flex;
        padding: 25px 30px 0;
        justify-content: space-between;
        max-width: 1546px;
        width: 100%;
        margin: 0 auto;
        @include sp {
            flex-direction: column;
            padding: 10px 25px 0;
        }
    }

    .c-case__item {
        width: 31%;
        @include sp {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .c-case__itemtop {
        font-family: $third-fonts;
        position: relative;
        width: max-content;
        margin: 0 0 14px;
        @include sp {
            margin: 0;

            &.c-case__itemtop--posright {
                margin-left: auto;
            }
        }
    }

    .c-case__itembottom {
        position: relative;
        font-feature-settings: "palt";
        transform: translate(20px, -14px);
        font-size: 2.4rem;
        font-weight: 700;
        max-width: 474px;
        width: 100%;
        max-height: 125px;
        height: 100%;
        line-height: 1.2;
        background: #000;
        color: #fff;
        text-align: center;
        padding: 49px 10px;
        border-radius: 8px;
        margin-top: 11px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 30px solid #000;
            top: -28px;
            left: 134px;
        }

        @include pc {
            transform: translate(0, 0);
        }

        @include sp {
            font-size: 1.65rem;
            padding: 34px 10px;
            margin-top: -3px;

            &::before {
                top: -19px;
                left: 98px;
            }

            &.c-case__itembottom--posright {
                &::before {
                    left: 217px;
                    border-left: 20px solid transparent;
                    border-right: 5px solid transparent;
                }
            }
        }
    }

    .c-case__itemnumber {
        font-size: 21.3rem;
        line-height: 1;
        margin-left: 28px;
        color: #ededed;

        @include sp {
            font-size: 14.8rem;
            margin-left: 21px;
        }
    }

    .c-case__numberlabel {
        position: absolute;
        color: #c7c7c7;
        bottom: 52px;
        left: 43%;
        font-size: 2.4rem;
        letter-spacing: 5.5px;
        font-weight: 700;

        // Smartphone screen
        @include sp {
            font-size: 1.65rem;
            letter-spacing: 4.5px;
            left: 41%;
            bottom: 38px;

            &.c-case__numberlabel--posright {
                left: 37%;
            }
        }
    }

    .c-case__itemcontent {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .c-case__itemlabel {
        font-feature-settings: "palt";
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: #7a89a8;
        color: #fff;
        border-radius: 18px;
        font-size: 1.8rem;
        font-family: $second-fonts;
        font-weight: 400;
        padding: 0 10px;
        transform: translateY(-50%);
        height: 35px;
        min-width: 211px;
        top: 5px;
        right: -10px;

        // SMARTPHONE SCREEN
        @include sp {
            font-size: 1.25rem;
            top: 6px;
            right: -10px;
            height: 25px;
            min-width: 146px;

            &.c-case__itemlabel--posleft {
                left: -9px;
                right: unset;
                top: 4px;
            }
        }
    }

    //   Smartphone screen
    @include sp {
        padding-top: 4.8rem;
        background-size: contain;
    }
}
