/*------------------------------------------------------------
Recommended
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-recommended {
  position: relative;
  padding-top: 70px;

  .c-recommended__icon {
    position: absolute;
    top: -11.5%;
    left: 11.8%;

    @include pc {
      left: 2.8%;
    }

    @include sp {
      top: unset;
      left: unset;
      bottom: -41px;
      right: 0;
      width: 215px;
    }
  }

  .c-recommended__heading {
    position: absolute;
    right: 2.6%;
    top: 1%;
    @include pc {
      top: 3%;
    }

    @include sp {
      right: 0;
      top: -2px;
    }
  }

  .c-recommended__title {
    font-size: 8.3rem;
    letter-spacing: 8.3px;
    font-weight: 300;
    line-height: 1;

    @include pc {
      font-size: 6.3rem;
    }

    @include sp {
      font-size: 3.05rem;
      letter-spacing: 3px;
      text-align: right;
      margin-right: 14px;
    }
  }

  .c-recommended__subtitle {
    font-size: 3.4rem;
    font-weight: 400;
    text-align: right;
    line-height: 2;

    .c-recommended__subtitle--strong {
      font-size: 4.6rem;
    }

    @include pc {
      font-size: 2.5rem;

      .c-recommended__subtitle--strong {
        font-size: 3.4rem;
      }
    }
    @include sp {
      font-size: 1.25rem;
      margin-right: 10px;

      .c-recommended__subtitle--strong {
        font-size: 1.7rem;
      }
    }
  }

  .c-recommended__body {
    background: #ededed;
    padding: 148px 80px 76px 77px;

    @include pc {
      padding: 148px 30px 79px;
    }
    @include sp {
      padding: 75px 10px 108px;
    }
  }

  .c-recommended__inner {
    display: flex;
    justify-content: space-between;
    @include sp {
      flex-wrap: wrap;
    }
  }

  .c-recommended__item {
    padding: 20px 20px 46px;
    background-color: #fff;
    max-width: 377px;
    width: 100%;

    &:not(:last-child) {
      margin-right: 25px;
    }

    @include sp {
      width: 48.5%;
      padding: 9px 9px 17px;
      margin-bottom: 15px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  .c-recommended__itemtitle {
    font-size: 2.3rem;
    font-weight: 400;
    font-feature-settings: "palt";
    padding: 23px 0 15px;
    letter-spacing: 1.3px;

    .c-recommend__text {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    @include sp {
      padding: 9px 0 5px;
      font-size: 1.1rem;
      letter-spacing: 0.8px;
    }
  }

  .c-recommended__itemcontent {
    font-size: 1.9rem;
    font-weight: 300;
    width: 97%;
    line-height: 1.4;

    @include sp {
      font-size: 1rem;
      letter-spacing: -0.1px;
      width: 100%;
      line-height: 1.3;
    }
  }

  @include sp {
    padding-top: 14px;
  }
}
