/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-present {
    max-width: 1222px;
    width: 100%;
    margin: 0 auto;
    padding: 11.6rem 15px 0;
}
