/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-plan {
  padding-top: 12.3rem;

  .c-plan__design {
    display: flex;
    padding-top: 78px;
    max-width: 1420px;
    width: 100%;
    padding: 0 30px;
    margin: 77px auto;
    justify-content: space-between;

    @include sp {
      margin: 30px auto;
      padding: 0 19px;
    }
  }

  .c-plan__designimage {
    width: 46%;
    position: relative;

    &:first-child {
      transform: translateX(87px);
    }

    &:last-child {
      transform: translateX(38px);

      .c-plan__icon {
        left: 37px;

        @include sp {
          left: 25px;
          bottom: -25px;
        }
      }
    }

    @include pc {
      &:first-child,
      &:last-child {
        transform: translate(0, 0);
      }
    }
    @include sp {
      width: 50%;

      &:first-child {
        transform: scale(1.1);
      }

      &:last-child {
        transform: scale(1.1);
      }
    }
  }

  .c-plan__icon {
    position: absolute;
    bottom: -34px;
    left: 32px;

    @include sp {
      width: 24px;
      bottom: -22px;
      left: 10px;
    }
  }

  .c-plan__detail {
    font-size: 2.2rem;
    font-weight: 300;
    color: #231815;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    transform: translate(-1px, 2px);

    @include sp {
      font-size: 1.15rem;
      flex-direction: column;
      align-items: center;
      padding-top: 25px;
      transform: translate(0, 0);
    }
  }

  .c-plan__detailitem {
    &:first-child {
      transform: translateX(-15px);
    }

    &:nth-child(2) {
      transform: translateX(17px);
    }

    &:last-child {
      transform: translateX(49px);
    }
    @include sp {
      padding-bottom: 5px;

      &:first-child,
      &:last-child,
      &:nth-child(2) {
        transform: translateX(0);
      }

      &:last-child {
        transform: translateY(-1px);
      }
    }
  }

  .c-plan__detailunit {
    padding-left: 23px;
    @include sp {
      padding-left: 11px;
    }
  }

  .c-plan__info {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 128px auto 0;
    padding: 0 30px;
    max-width: 1255px;
    width: 100%;

    @include sp {
      font-size: 1.25rem;
      padding: 0 15px;
      margin-top: 24px;
    }
  }

  .c-plan__infoitem {
    display: flex;
    column-gap: 13.3rem;
    border-bottom: 1px solid #cbcbcb;

    &:not(:first-child) {
      padding-top: 31px;
      @include sp {
        padding-top: 16px;
      }
    }

    &:first-child {
      .c-plan__infoname {
        letter-spacing: -1px;
      }

      .c-plan__infodesc {
        letter-spacing: 1.4px;
        @include sp {
          letter-spacing: 0.4px;
        }
      }
    }

    &:last-child {
      @include sp {
        padding-top: 10px;
        padding-bottom: 11px;
        align-items: center;

        .c-plan__infotag {
          margin-left: -7px;
          margin-top: 0;
        }
      }
    }

    &:nth-child(3) {
      .c-plan__infoname {
        font-feature-settings: "palt";
      }

      .c-plan__infotag {
        .c-plan__tagitem:first-child {
          padding: 3px 9px 3px 16px;

          .c-plan__tagcontent {
            letter-spacing: 0.5px;
          }
        }

        .c-plan__tagitem:last-child {
          .c-plan__tagcontent {
            display: inline-block;
            transform: translate(-4px, -1px);
          }
        }
      }
      @include sp {
        padding-top: 9px;
        padding-bottom: 12px;
        align-items: center;

        .c-plan__infotag {
          margin-left: -7px;
          margin-top: 0;

          .c-plan__tagitem:first-child {
            padding: 0 2px 2px 5px;
          }

          .c-plan__tagitem:nth-child(4) {
            margin: 0 -2px 0 0;
          }
        }
      }
    }

    @include sp {
      column-gap: 0;
    }
  }

  .c-plan__infodesc {
    padding-bottom: 11px;
    @include sp {
      padding-bottom: 5px;
    }
  }

  .c-plan__infoname {
    margin-left: 12px;
    min-width: 145px;
    @include sp {
      margin-left: 5px;
      min-width: 124px;
    }
  }

  .c-plan__infotag {
    margin-left: -10px;
    margin-top: -3px;
  }

  .c-plan__tagitem {
    font-size: 2rem;
    display: inline-block;
    border: 1px solid #cbcbcb;
    padding: 3px 16px;
    font-feature-settings: "palt";
    margin-right: 15px;
    border-radius: 3px;
    margin-bottom: 11px;
    @include sp {
      font-size: 0.85rem;
      padding: 0 7px 1px;
      margin: 0 6px 2px 0;
    }
  }

  @include sp {
    padding-top: 5rem;
  }
}
