/*------------------------------------------------------------
line
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-finance {
  margin-top: 94px;
  padding: 93px 0 111px;
  background: #ededed;

  .c-finance__cost {
    text-align: center;
    margin-top: 60px;

    @include sp {
      margin-top: 31px;
    }
  }

  .c-finance__costcontent {
    color: #fff;
    font-size: 3rem;
    background-color: #231815;
    display: inline-block;
    padding: 10px 58px 25px;
    font-size: 3rem;
    line-height: 1;
    font-weight: 400;

    @include sp {
      padding: 6px 29px 11px;
      font-size: 1.5rem;
    }
  }

  .c-finance__costnumber {
    padding-right: 10px;

    @include sp {
      padding-right: 4px;
    }
  }

  .c-finance__content {
    display: flex;
    max-width: 1320px;
    justify-content: space-between;
    padding: 0 30px;
    margin: 44px auto 0;

    @include sp {
      flex-wrap: wrap;
      padding: 0;
      margin: 23px auto 0;
    }
  }

  .c-finance__box {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    font-size: 2.2rem;
    padding: 89px 0 66px 81px;
    position: relative;

    &:first-child {
      margin-right: 30px;
      @include sp {
        margin: 0 auto 28px;
      }
    }

    @include sp {
      padding: 44px 43px 34px;
      font-size: 1.1rem;
      width: 80%;
      max-width: 300px;
      margin: 0 auto;
      &.c-finance__box--sp {
        padding: 44px 0 34px;
        text-align: center;
      }
    }
  }

  .c-finance__text {
    font-weight: 400;
    line-height: 3.15;
    letter-spacing: -0.5px;
  }

  .c-finance__boxtitle {
    font-size: 2.6rem;
    padding-top: 12px;
    padding-left: 14px;
    @include sp {
      font-size: 1.3rem;
      padding-top: 8px;
      padding-left: 4px;
    }
  }

  .c-finance__boxcost {
    color: #7a89a8;
    font-size: 9rem;
    font-weight: 700;
    @include sp {
      font-size: 4.5rem;
    }
  }

  .c-finance__boxunit {
    font-size: 3.6rem;
    margin-left: -15px;
    @include sp {
      font-size: 1.8rem;
      margin-left: -10px;
    }
  }

  .c-finance__boxsales {
    font-weight: 400;
    padding-top: 17px;
    padding-left: 7px;
    @include sp {
      font-size: 1.1rem;
      padding: 4px 0 18px;
      white-space: nowrap;
    }
  }

  .c-finance__costbubble {
    line-height: 1;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    background-color: #7a89a8;
    top: -20px;
    right: -50px;
    font-size: 3.2rem;
    font-weight: 700;
    color: #fff;

    &::before {
      position: absolute;
      content: "";
      border-bottom: 46px solid #7a89a8;
      border-left: 16px solid transparent;
      border-right: 21px solid transparent;
      top: 156px;
      left: 6px;
      transform: rotate(-129deg) translate(19px, -1px);
    }

    .c-finance__payment {
      padding-top: 35px;
      @include sp {
        font-size: 1.6rem;
        padding-top: 17px;
      }
    }

    .c-finance__paymentnumber {
      font-size: 9.6rem;
      transform: translate(-4px, -4px);
      display: inline-block;
      @include sp {
        font-size: 4.8rem;
        transform: translate(-1px, -3px);
      }
    }

    .c-finance__paymentunit {
      display: inline-block;
      transform: translate(4px, -15px);
      @include sp {
        font-size: 1.8rem;
        transform: translate(1px, -7px);
      }
    }

    @include pc {
      top: 0;
      right: 0;
      transform: translateY(-50%);

      &::before {
        top: 67px;
        left: 5px;
        transform: rotate(-129deg) translate(-55px, -66px);
      }
    }

    @include sp {
      width: 100px;
      height: 100px;
      transform: translate(22px, -9px);
      &::before {
        top: 67px;
        left: 5px;
        transform: rotate(-129deg) translate(18px, 1px);
      }
    }
  }

  @include sp {
    margin-top: 69px;
    padding: 35px 0 61px;
  }
}
