//baseWidth
$base-width: 1200px;

$main-fonts: "Noto Sans JP", sans-serif;
$second-fonts: "Noto Serif JP", serif;
$third-fonts: "Roboto", sans-serif;
$four-fonts: "Oswald", sans-serif;
//color common
