/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    padding: 86px 0 85px;
    background: #fff;
    text-align: center;
    max-width: 1192px;
    width: 100%;
    margin: 0 auto;

    .c-access__content {
        font-family: $four-fonts;
        color: #000;
        font-weight: 300;
        font-size: 4.8rem;
        text-transform: uppercase;
        border: 1px solid #000;
        margin-top: 92px;
        padding-block: 105px;
        letter-spacing: 4px;
    }

    .c-footer__logo {
        margin-top: 85px;
    }
}
