/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    min-width: $base-width;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------

//-------------------------------------------------------
.l-container {
    width: $base-width;
    margin: 0 auto;

    &.l-container--w1740 {
        max-width: 174rem;
        width: 100%;
    }

    &.l-container--w1190 {
        max-width: 119rem;
        width: 100%;
    }

    &.l-container--w1204 {
        max-width: 120.4rem;
        width: 100%;
    }
}
//-------------------------------------------------------
