<footer class="c-footer">
  <a href="#" class="c-footer__banner">
    <picture>
      <source media="(max-width: 576px)" srcset="./assets/img/present-banner-sp.jpg 2x">
      <img src="./assets/img/present-banner-1.jpg" alt="footer banner">
    </picture>
  </a>

  <a href="#">
    <h2 class="c-access__content">
      Contact form
    </h2>
  </a>
  <a href="/">
    <div class="c-footer__logo">
      <picture>
        <source media="(max-width: 57px)" srcset="./assets/img/footer-logo-sp.png 2x">
        <img src="./assets/img/footer-logo.png" alt="coco logo">
      </picture>
    </div>
  </a>
</footer>