<footer class="c-footer">
  <div class="c-footer__banner">
    <img src="./assets/img/present-banner-1.jpg" alt="footer banner">
  </div>

  <h2 class="c-access__content">
    Contact form
  </h2>
  <div class="c-footer__logo">
    <img src="./assets/img/footer-logo.png" alt="coco logo">
  </div>
</footer>